.profile-home {
    display: flex;
    background-color: rgba(34, 34, 34, 0.8);
    min-width: 400px;
    min-height: 640px;
}

.profile-container {
    max-width: 600px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #2b2b2b;
    /* Dark background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff;
    /* text color lightened */
}

.profile-avatar {
    width: 100px !important;
    height: 100px !important;
    margin: 0 auto 20px;
}

.profile-container h1 {
    margin: 10px 0;
    font-size: 24px;
    color: #fff;
    /* Light text color */
}

.profile-container h3 {
    margin: 5px 0;
    font-size: 18px;
    color: gray;
}

.profile-container h5 {
    font-size: 16px;
    margin: 20px 0;
    color: #fff;
    /* Light text color */
}

.profile-container button {
    background: #0095ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-container button {
    background: #212121;
}

.profile-container input,
.profile-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #555;
    /* Darker border */
    border-radius: 5px;
    font-size: 16px;
    background: #444;
    /* Dark background */
    color: #fff;
    /* Light text color */
    resize: none;
}

.profile-container textarea {
    height: 50px;
}

.profile-container input::placeholder,
.profile-container textarea::placeholder {
    color: rgba(255, 255, 255, 0.5);
    /* Light placeholder color */
}
